.main--about {
    margin: 5rem 0 2rem 0;

    .img-container {
        margin-bottom: 6rem;
        img {
            display: block;
            margin: 0 auto;
            height: auto;
        }
    }
    p {
        font-size: 0.85rem;
        margin-bottom: 1rem;
        color: $dark-blue;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }
    p.last-p {
        margin-bottom: 10rem;
    }
}
