//FONTS

$main-text: "Libre baskerville";
$accent-text: "Helvetica";

// TYPOGRAPHY

$sm-f: 0.825rem;
$m-f: 1rem;
$lg-f: 1.25rem;
$xl-f: 3.25rem;
//COLORS
$light-blue: hsl(224, 48%, 65%);
$dark-blue: hsl(224, 31%, 19%);
$accent-purp: hsl(264, 23%, 48%);
$gray: hsl(0, 0%, 60%);
$purp-gradient: hsla(264, 23%, 48%, 0.1);
$blue: hsl(224, 65%, 54%);
